/*__________________________________PREAMBLE______________________________*/
body{
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color:rgba(22, 22, 22, 0.637); 
    
    font-family:'Lucida Handwriting',serif, Georgia, 'Times New Roman', Times;
    text-align: center;
}
main{
    background-color: aliceblue;
    padding-bottom: 6em;
}
/*____________________TYPOGRAPHY______________________*/

h1{
    font-size: 3em;
    text-shadow: 1px 1px white, -1px -1px #333;
}
h2,
h3{
  padding: 40px;  
}
h2{
    font-size: 2.6em;    
}
img{
    max-width: 100%;
}
/*_________________________________LAYOUT_____________________________*/
#header, 
#home,
#buy, 
#share, 
#group-account,
#contact{
    width: 80%;
    margin: 0 auto;
    padding: 2em .8em;
    display: flex;
    justify-content: space-between;
}
input, 
textarea{
    padding: 1em;
    border-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    font-size: inherit;
}
input{
    letter-spacing: 0.2em;
}
.form-account *, 
.contact-form *{
    margin: 1em auto;
}
/*____________________________________________HEADER_____________________________________*/
header{
    background-color: cornflowerblue;
    color: #fff;
}
#menu *{
    margin: 0.5em;
}
#navbar{
    margin-left: 0;
}
 #menu{
    list-style: none;
    display: flex;
}

a{
    color:#fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
a:hover{
    color: rgb(182, 8, 159);
}
/*________________________________________HOME_____________________________________*/
#home{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
#home-texts{
    display: flex;
    flex-flow: column;
    gap: 10px;
    font-size: 1.5em;
    line-height: 2.4rem;
    width: 40%;
    color: aliceblue;
}
#home-image{
    width: 50%;
}
.home-text-item{
    border-radius: 10px; 
    padding: 20px;
}
#home-text-1{  
    background-color: dimgray;
}
#home-text-2{
    background-color:cornflowerblue;
}
#home-text-3{
    background-color:lightslategray;
}
/*_________________________________________BUY__________________________________________*/
#buy{
    border: 12px double cornflowerblue;
    align-items: center;
    justify-content: space-around;
}
#buy-text{
    padding: 75px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: dimgray;
    color: aliceblue;
    font-size: 1.5em;
    line-height: 2.4rem;
    text-align: center;
}
/*_____________________________________________SHARE___________________________________________________________*/
#share{
    border: 12px double dimgray;
    align-items: center;
    justify-content: space-around;
    
}
#share-text{
    padding: 75px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color:cornflowerblue;
    color: aliceblue;
    font-size: 1.5em;
    line-height: 2.4rem;
    text-align: center;
}

/*_______________________________________________ACCOUNT_____________________________________________*/
#account{
    background-color: lightslategray;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: #fff;
    padding: 2em 0;
}
.form-account{
    display: flex;
    flex-direction: column;
    width: 46%;
    font-size: 1.3rem;
}
.form-account-register{
    background-color: rgb(125, 148, 170);
    padding: 1em;
    justify-content: space-evenly;
}
.form-input-account{
    background-color: aliceblue;
}
.form-button{
    width: 100%;
    background-color: dimgray;
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);
    color: #fff;
    cursor: pointer;
}
.form-button:hover{
    background-color: cornflowerblue;
}
/*________________________________________________________CONTACT_______________________________*/
#contact{
    border: 12px double slategray;
    text-align: left;
    align-content: center;
    justify-content: center;
}
.contact-form{
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    gap: 4em;
}
.form-input-contact{
    width: 350px;
    background-color: grey;
    color: aliceblue;
}
#boton-contacto{
    display: flex;
    flex-direction: column;
}
.form-button-reset{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);
    color: #fff;
    cursor: pointer;
    background-color: #000;
}
.form-button-reset:hover{
    background-color: dimgray;
}
textarea{
    color:dimgray;   
    height: 213px;
}
/*________________________________FOOTER_______________________________________________________________*/
footer{
    color: aliceblue;
    text-align: center;
    padding: 1em;
}
/*______________________________________________RESPONSIVE DESIGN_____________________________________*/
@media(max-width: 990px){
    #header, 
    #home,
    #buy, 
    #share, 
    #group-account,
    #contact{
        width: 90%;
    }
    #group-account,
    .contact-form{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .form-account{
        width: 100%;
    }
}

@media(max-width: 850px){
    #home,
    #buy,
    #share{
        flex-direction: column;
        align-items: center;
    }
    #home-texts{
        flex-direction: row;
        width: 100%;
    }
    .form-account *{
        margin: 1em auto;
    }
    .form-account input{
        width: 90%;

    }
    
}
@media(max-width: 700px){
    #header{
        flex-direction: column;
        align-items: center;
    }
    #menu{
        margin-left: -50px;
    }

}
@media(max-width: 600px){
    #header, 
    #home,
    #buy, 
    #share, 
    #group-account,
    #contact{
        width: 83%;

    }
    #menu{
        flex-wrap: wrap;
        align-content: center;
        margin-left: 0;
    }
    #home-texts, 
    #buy-text, 
    #share-text {
       font-size: 1.3em; 
       padding: 1.7em;
    }
    #home-texts{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    #home-image{
        width: 100%;
    }
    #contact{
        align-items: center;
        align-content: center;
    }
    .contact-form{
        flex-direction: column;
        gap: .5em;
        padding: 0;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .contact-form *{
        width: 90%;
    }
    .form-account{
        width: 92%;
    }
}

