/*1)_______________PRELIMINARES________________________*/
body{
    box-sizing: border-box;
    margin: 2em auto;
    background-color:#fff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1em;
}
/*_______________________________TYPOGRAPHY______________________________*/
h1, h2, h3{
   font-weight: 700; 
}
h1{
    text-shadow: -1px 0 rgb(233, 238, 233), 1px 0 rgb(233, 236, 207), 0 1px rgb(237, 240, 216), 0 -1px rgb(223, 243, 223);
    font-size: 3em;
    color: rgba(226, 26, 159, 0.671);
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 2.3em;
    color: rgba(0, 0, 0, 0.432);
}
h4{
    font-size: 1.8em;
}
#welcome{
    padding-top: 25px;
}

.line{
    width: 400px;
    height: 3px;
    background-color: rgba(226, 26, 159, 0.671);
}
/*____________________IMAGES____________________________*/
img{
    max-width: 100%;
    max-height: auto;
}

.featured-image{
    max-width: 80%;
}
.reason-img{
    width: 80%;
}
/*____________________________________FORMS________________________*/

/*2)___________________________________SECTIONS____________________*/

#home{
    display: flex;
}
/*________________CABECERA___________________*/
header{
    background-color: #000; 
    padding: 20px;
    position: sticky;
    top: 0;
}

/*_______________________BARRA DE NAVEGACIÓN__________________________*/
#navbar{
    background-color: rgba(94, 194, 169, 0.938);
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar *{
    margin: 0.5em;
}
ul li{
    display: inline-block;
}
a{
    text-decoration: none;
    padding: 0.8em;
    color: #fff;
    font-size: 1.5em;
}
a:hover{
    background-color: #000;
    border-radius: 5px;
}
/*____________________________LAYOUT________________________________*/
.container__reasons,
.container__shop,
.container__acount,
.container__contact{
    width: 85%;
    margin: 5em auto;
}

/*____________________________HOME__________________________________*/

#reasons{
    display: flex;
}
#reason-items{
    display: flex;
}
.reason-item, 
#reason-text{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.reason-item{
    background-color:rgba(238, 237, 226, 0.863);
}
#reason-text{
    background-color: rgba(0, 139, 104, 0.37);
    color: rgba(226, 26, 159, 0.671);
    font-size: 3.5em;
}
.reason-caption{
    font-size: 2em;
}
/*_____________________________________________SHOP__________________________*/
#featured-background{
    background-color:rgba(238, 237, 226, 0.863);
}
#featured{
    display: flex;
}
.featured-product, 
.product-item{
    padding: 15px;
    border-radius: 15px;
}
.featured-product{
    display: flex;
    flex-flow: column;
    background-color: #fff;
    margin: 40px;
}
#shop-products{
    display: flex;
}
.product-item{
    display: flex;
    flex-flow: column;
    background-color:rgba(238, 237, 226, 0.863);
    margin: 15px;
}
.button{
    padding: 10px;
    background-color: rgb(0, 139, 104);
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(9, 88, 69);
}
/*_________________________________ACCOUNT____________________________________________*/
#account{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.form-account{
    display: block;
}
.form-account *{
    margin: 0.5em 0.2em;
}
.form-account p{
    font-size: 1.5em;
}
input{
    padding: 1em;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: left;
    font-family: inherit;
}
.form-label{
    padding: 2px;
}
.form-input-account{
    background-color: rgba(139, 0, 81, 0.089);
}

.form-button{
    width: 100%;
    background-color:rgb(129, 16, 91);
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover{
    background-color:rgb(90, 17, 66);
}
#new-account{
    padding: 30px;
    background-color:rgb(241, 231, 188);
    background-color:rgba(238, 237, 226, 0.863);
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#old-account{
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
/*_________________________________________CONTACT______________________________*/
#contact{
    background-color:rgba(238, 237, 226, 0.863);
    display: flex;
    gap: 60px;
    align-content: center;
    justify-content: center;
}
.contact-form{
    display: flex;
    align-items: center;
    gap: 60px;
    border-radius: 15px;
    font-size: 1em;
}
.contact-form *{
    margin: 0.5em;
}
.form-input-contact{
    margin: 12px;
    margin-right: 0;
    width: 450px;
    background-color: rgba(139, 0, 81, 0.089);
    color: rgb(90, 17, 66);
}
.form-button-reset{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.20);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
}

textarea{
    width: 450px;
    height: 213px;
}

/*__________________________________FOOTER_______________________________*/
/*_________________________________MENÚ LEGAL____________________________*/
#legal{
    align-content: center;
    padding: 10px;
    color: rgb(9, 88, 69);
    background-color: rgba(23, 230, 178, 0.925);
}
footer{
    background-color: #000;
    color: #fff;
    padding:20px;
}
/*_________________________RESPONSIVE_________________________________*/
@media (max-width: 990px){
    #navbar *{
        margin-bottom: 1em;
    }
    #featured, 
    #reasons, 
    #reason-items, 
    #shop-products, 
    #account, 
    #contact *{
        flex-wrap: wrap;
    }
    input, textarea{
        max-width: 380px;
    }
}





