
/*________________________PREÁMBULOS____________________________*/
body{
    box-sizing: border-box;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(183, 226, 204);
    font-family:'Franklin Gothic Book',serif, Georgia, 'Times New Roman', Times;
    text-align: center;
}
h1{
    font-size: 5em;
    font-weight: 900;
    letter-spacing: .1em;
    text-shadow: 1px 2px 4px rgb(42, 117, 187);
}
h2{
    font-size: 3.5em;
}
h3{
    font-size: 2.5em;

}
h4{
    font-size: 1.9em;
    text-transform: uppercase;
    color: slategray;

}
p{
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: left;
}
#columna p{
    text-align: center;
}
img{
    max-width: 100%;
    max-height: auto;
}
.img-columna{
    width: 70%;
}
/*____________________________DISPOSICIÓN___________________________*/
main{
    background-color: #fff;
    padding: 3em;
    display: grid;
    gap: 55px;
    grid-template-columns: 15% auto;
    grid-template-areas: "header header"
    "columna central";
}
/* _____________________________________HEADER Y NAVEGACIÓN__________________________*/
#header{
    border-top: 10px solid rgb(18, 18, 63);
    grid-area: header;
    background-color:#fff;
    color: #000;
    position: sticky;
    top: 0;
}
#navbar{
    background-color: rgb(64, 73, 82);
    padding: 1em 0;
}
ul li{
    display: inline-block; 
}
a{
    color: white;  
    text-decoration: none;
    align-items: center;
    margin: 1.5em;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .1em;
}
a:hover{
    color: rgb(85, 191, 218);
    text-shadow: 0 0 0 white;
}
.noticia a{
    color: rgb(85, 191, 218);
    padding: 0 1em;
}
.noticia a:hover{
    color: black;
}
/*_________________________LAYOUT_________________________________*/
#central{
    grid-area: central;
    display: flex;
    flex-flow: column;
}
#portada{  
    display: grid;
    gap: 15px;
    grid-template-columns: 50% auto;
    align-items: center;
    justify-content: center;
}
#noticias{
    margin: 0;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 1fr);
}
#columna{
    grid-area: columna;
    display: flex;
    flex-direction: column;
}

#footer{
    background-color: rgb(18, 18, 63);
    color: mintcream;
    padding: 20px;
    text-align: center;
    margin: 0;
}

/*_________________________________RESPONSIVE DESIGN__________________________________*/
@media(max-width: 1800px){
    main{
        display: flex;
        flex-direction: column;
    }
    #columna{
        flex-direction: row;
        align-items: center;
        gap: 2em;
        justify-content: space-between;
    }
    ul li{
        margin: 1em;
        margin-left: 0;
    }
}

@media(max-width: 1400px){
    #portada{
        display: flex;
        flex-direction: column;
    }
    #imagen-dest{
        order: -1;
    }
}
@media(max-width: 990px){
    #noticias{
        display: flex;
        flex-direction: column;
    }
    #columna{
        flex-direction: column;
    }
}

@media(max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #navbar{
        padding: 0;
        display: flex;
        align-items: center;
        align-content: center;
    }
    ul{
        padding: 0;
    }
    ul li{

        margin: .3em;
    }
}
